
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGreen</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="text">
            <span class="plant-icon">🌱</span>
            <span class="i">I</span>
            <span>GREEN</span>
        </div>

        <div class="button-container">
            <form action="{% url 'start_qrcode' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="start-button">START</button>
            </form>
            <a href="{% url 'register' %}" class="register-link">Registrar Usuario</a>
        </div>
    </div>
</body>
</html>




